name: Publish to NPM

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest-large
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Get latest tag
        id: get_tag
        run: |
          git fetch --tags
          LATEST_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          echo "tag=$LATEST_TAG" >> $GITHUB_OUTPUT
          git checkout $LATEST_TAG
      
      - uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      
      - name: Update npm
        run: npm install -g npm@latest
      
      - name: Install dependencies
        run: npm ci
      
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: '1.3.2'

      - name: Collect Workflow Telemetry
        uses: catchpoint/workflow-telemetry-action@v2.0.0
      
      - name: Test package
        run: bun test
      
      - name: Build package
        run: bun run build
      
      - name: Publish package to NPM
        run: npm publish --access public --tag latest